<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap"
        rel="stylesheet">
    <title>
        <%= libro.titulo %>
    </title>
    <link rel="stylesheet" href="/book.css">
</head>

<body>
    <section class="left-panel">
        <div class="portada">
            <img src="<%= libro.imagen_portada %>" alt="">
        </div>
        <div class="rating">
            <% if (libro.puntuacion === 5) { %>
                <p>⭐⭐⭐⭐⭐</p>
            <%} else if (libro.puntuacion === 4) { %>
                <p>⭐⭐⭐⭐</p>
            <%} else if (libro.puntuacion === 3) { %>
                <p>⭐⭐⭐</p>
            <%}%>
        </div>
        <div class="info-basica">
            <p>ISBN: <%= libro.isbn %>
            </p>
            <P>Año de lectura: <%= libro.anio_lectura %>
            </P>
        </div>
    </section>

    <section class="main-panel">
        <article class="header">
            <h2><%= libro.titulo %></h2>
            <h4>por <%= libro.autor %></h4>
        </article>
        <article class="resumen">
            <h4>RESUMEN</h4>
            <p><%= libro.resumen %></p>
        </article>
        <article class="notas">
            <h4>MIS NOTAS PERSONALES</h4>
            <p> <%= libro.notas_personales %></p>
        </article>
    </section>

    <section class="right-panel">

    </section>



</body>

</html>